<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Cooking time estimator</title>
</head>
<body>
    <div class="container">
        <h1>Does it take a century to cook? 
            <br>
            Let me guess your cooking time base on your recipe!</h1>
        <form method="POST">
            <div class="form-group">
              <label for="recipeName">Recipe name</label>
              <input type="text" class="form-control" id="recipeName" name="recipeName" placeholder="Enter recipe name">
            </div>
            <div class="form-group">
                <label for="ingredientsCount">How many ingredients?</label>
                <input type="text" class="form-control" id="ingredientsCount" name="ingredientsCount" placeholder="Enter how many ingredients">
            </div>
            <div class="form-group">
                <label for="ingredients">Please enter all ingredients</label>
                <textarea class="form-control" id="ingredients" name="ingredients" placeholder="Enter all ingredients"></textarea>
            </div>
            <div class="form-group">
                <label for="stepsCount">How many steps?</label>
                <input type="text" class="form-control" id="stepsCount" name="stepsCount" placeholder="Enter how many steps">
            </div>
            <div class="form-group">
                <label for="steps">All steps</label>
                <textarea class="form-control" id="steps" name="steps" placeholder="Enter all steps"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</body>
</html>